<% if notice %>            
<p id="notice">
  <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
    <span class="badge badge-pill badge-success">Sucesso!</span>
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
</p>
<% end %>

<p>
  <strong>Valor:</strong>
  <%= @receita_recebida.valor %>
</p>

<p>
  <strong>Data:</strong>
  <%= @receita_recebida.data %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @receita_recebida.ativo %>
</p>

<p>
  <strong>Data inclusao:</strong>
  <%= @receita_recebida.data_inclusao %>
</p>

<p>
  <strong>Data alteracao:</strong>
  <%= @receita_recebida.data_alteracao %>
</p>

<p>
  <strong>Receita a receber:</strong>
  <%= @receita_recebida.receita_a_receber %>
</p>

<%= link_to 'Edit', edit_receita_recebida_path(@receita_recebida) %> |
<%= link_to 'Back', receita_recebidas_path %>
