<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1> Apartamento</h1>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="page-header float-right">
      <div class="page-title">
        <ol class="breadcrumb text-right">
          <li><%= link_to 'Condomínio', current_condominio %></li>
          <li>Apartamento: <%= @apartamento.unidade %> </li>
        </ol>
      </div>
    </div>
  </div>
</div>
  
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <strong>Apartamento: <%= @apartamento.unidade %></strong>
          </div>
          <div class="card-body card-block">
<% if notice %>            
<p id="notice">
  <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
    <span class="badge badge-pill badge-success">Sucesso!</span>
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
</p>
<% end %>  
<div class="col col-md-6">
  <div class="form-group">
    <div class="col col-md-6">
      <strong>Unidade:</strong>
    </div>
    <div class="col col-md-6">
      <%= @apartamento.unidade %>
    </div>
  </div>
</div>

<div class="col col-md-6">
  <div class="form-group">
    <div class="col col-md-6">
      <strong>Nome:</strong>
    </div>
    <div class="col col-md-6">
      <%= @apartamento.ativo %>
    </div>
  </div>
</div>
<!--
<p>
  <strong>Data inclusao:</strong>
  <%= @apartamento.data_inclusao %>
</p>

<p>
  <strong>Data alteracao:</strong>
  <%= @apartamento.data_alteracao %>
</p>
-->
<div class="col col-md-6">
  <div class="form-group">
    <div class="col col-md-6">
      <strong>Condominio:</strong>
    </div>
    <div class="col col-md-6">
      <%= @apartamento.condominio.nome %>
    </div>
  </div>
</div>

</div>
</div>
</div>
</div>
        
        <div class="form-group">
          <%= link_to 'Editar', edit_apartamento_path(@apartamento), class: "btn btn-outline-primary", role:"button" %>
          <%= link_to 'Voltar', @apartamento.condominio, class: "btn btn-outline-primary", role:"button" %>
        </div>
        
        
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="moradores-tab" data-toggle="tab" href="#moradores" role="tab" aria-controls="moradores" aria-selected="true">Moradores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="veiculos-tab" data-toggle="tab" href="#veiculos" role="tab" aria-controls="veiculos" aria-selected="false">Veículos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="funcionarios-tab" data-toggle="tab" href="#funcionarios" role="tab" aria-controls="funcionarios" aria-selected="false">Funcionários</a>
                            </li>
                        </ul>
                        <div class="tab-content pl-3 p-1" id="myTabContent">
                            <div class="tab-pane fade show active" id="moradores" role="tabpanel" aria-labelledby="moradores-tab">
                                <%= render 'moradors/list', moradors: @moradors %>
                                <%= link_to 'Adicionar Morador', new_morador_path, class: "btn btn-outline-primary", role:"button" %>
                            </div>
                            <div class="tab-pane fade" id="veiculos" role="tabpanel" aria-labelledby="veiculos-tab">
                                <%= render 'veiculos/list', veiculos: @veiculos %>
                                <%= link_to 'Adicionar Veículo', new_veiculo_path, class: "btn btn-outline-primary", role:"button" %>
                            </div>
                            <div class="tab-pane fade" id="funcionarios" role="tabpanel" aria-labelledby="funcionarios-tab">
                                <%= render 'funcionarios/list', funcionarios: @funcionarios %>
                                <%= link_to 'Adicionar Funcionário', new_funcionario_path, class: "btn btn-outline-primary", role:"button" %>
                            </div>
                        </div>
                </div>
            </div>
        </div>
      </div>
        <!--
        <div class="card">
          <div class="card-header">
            <strong class="card-title">Moradores</strong>
          </div>
          <div class="card-body">
            %= #render 'moradors/list', moradors: @moradors %>
            %= #link_to 'Adicionar Morador', new_morador_path, class: "btn btn-outline-primary", role:"button" %>
          </div>
        </div>  
        
        <div class="card">
          <div class="card-header">
            <strong class="card-title">Veículos</strong>
          </div>
          <div class="card-body">
            %= #render 'veiculos/list', veiculos: @veiculos %>
            %= #link_to 'Adicionar Veículo', new_veiculo_path, class: "btn btn-outline-primary", role:"button" %>
          </div>
        </div> 
        
        <div class="card">
          <div class="card-header">
            <strong class="card-title">Funcionários</strong>
          </div>
          <div class="card-body">
            %= #render 'funcionarios/list', funcionarios: @funcionarios %>
            %= #link_to 'Adicionar Funcionário', new_funcionario_path, class: "btn btn-outline-primary", role:"button" %>
          </div>
        </div> 
        -->
        
      </div>
    </div>
  </div><!-- .animated -->
</div><!-- .content -->

