<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1>Despesa mensal</h1>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="page-header float-right">
      <div class="page-title">
        <ol class="breadcrumb text-right">
          <li><%= link_to 'Condomínio', current_condominio %></li>
          <li><%= link_to 'Despesas', despesas_path %></li>
          <li class="active">Mensal: Adicionar</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <strong>Adicionar despesas mensais</strong>
          </div>
          <div class="card-body card-block">
            
          <% if @errors %>            
          <p id="notice">
            <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
              <span class="badge badge-pill badge-danger">Erro!</span>
              <%= @errors %>
              <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>-->
            </div>
          </p>
            
          <% else %>  
            <%= render 'form_mensal', despesas: @despesas %>
          <% end %>  
          </div>
        </div>
<%= link_to 'Voltar', despesas_path, class: "btn btn-outline-primary", role:"button" %>
      </div>
    </div>
  </div><!-- .animated -->
</div><!-- .content -->
