<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1> Despesa</h1>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="page-header float-right">
      <div class="page-title">
        <ol class="breadcrumb text-right">
          <li><%= link_to 'Condomínio', current_condominio %></li>
          <li><%= link_to 'Despesas', despesas_path %></li>
          <li>Despesa: <%= @despesa.id %></li>
        </ol>
      </div>
    </div>
  </div>
</div>
  
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <strong>Despesa:  <%= @despesa.id %></strong>
          </div>
          <div class="card-body card-block">
<% if notice %>            
<p id="notice">
  <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
    <span class="badge badge-pill badge-success">Sucesso!</span>
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
</p>
<% end %>

<p>
  <strong>Data:</strong>
  <%= @despesa.data.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @despesa.valor.round(2) %>
</p>

<p>
  <strong>Natureza:</strong>
  <%= @despesa.natureza %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @despesa.ativo %>
</p>
<!--
<p>
  <strong>Data inclusao:</strong>
  <%= @despesa.data_inclusao %>
</p>

<p>
  <strong>Data alteracao:</strong>
  <%= @despesa.data_alteracao ? @despesa.data_alteracao.strftime("%d/%m/%Y") : '' %>
</p>
-->
<p>
  <strong>Descricao tipo:</strong>
  <%= @despesa.descricao_tipo.nome %>
</p>

</div>
        </div>
        </div>
        </div>
        <%= link_to 'Editar', edit_despesa_path(@despesa), class: "btn btn-outline-primary", role:"button" %>
        <%= link_to 'Voltar', despesas_path, class: "btn btn-outline-primary", role:"button" %>
      </div>
    </div>
  </div><!-- .animated -->
</div><!-- .content -->
