<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1> Veículo</h1>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="page-header float-right">
      <div class="page-title">
        <ol class="breadcrumb text-right">
          <li><%= link_to 'Condomínio', current_condominio %></li>
          <li><%= link_to 'Apartamento: '+@veiculo.apartamento.unidade, @veiculo.apartamento %> </li>
          <li>Veículo: <%= @veiculo.placa %></li>
        </ol>
      </div>
    </div>
  </div>
</div>
  
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <strong>Veículo: <%= @veiculo.placa %></strong>
          </div>
          <div class="card-body card-block">
<% if notice %>            
<p id="notice">
  <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
    <span class="badge badge-pill badge-success">Sucesso!</span>
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
</p>
<% end %>

<div class="col col-md-6">
  <div class="form-group">
    <div class="col col-md-6">
      <strong>Marca:</strong>
    </div>
    <div class="col col-md-6">
      <%= @veiculo.marca %>
    </div>
  </div>
</div>

<div class="col col-md-6">
  <div class="form-group">
    <div class="col col-md-6">
      <strong>Modelo:</strong>
    </div>
    <div class="col col-md-6">
      <%= @veiculo.modelo %>
    </div>
  </div>
</div>

<div class="col col-md-6">
  <div class="form-group">
    <div class="col col-md-6">
      <strong>Cor:</strong>
    </div>
    <div class="col col-md-6">
      <%= @veiculo.cor %>
    </div>
  </div>
</div>

<div class="col col-md-6">
  <div class="form-group">
    <div class="col col-md-6">
      <strong>Placa:</strong>
    </div>
    <div class="col col-md-6">
      <%= @veiculo.placa %>
    </div>
  </div>
</div>

<div class="col col-md-6">
  <div class="form-group">
    <div class="col col-md-6">
      <strong>Ativo:</strong>
    </div>
    <div class="col col-md-6">
      <%= @veiculo.ativo %>
    </div>
  </div>
</div>
<!--
<p>
  <strong>Data inclusao:</strong>
  <%= @veiculo.data_inclusao %>
</p>

<p>
  <strong>Data alteracao:</strong>
  <%= @veiculo.data_alteracao %>
</p>
-->
<div class="col col-md-6">
  <div class="form-group">
    <div class="col col-md-6">
      <strong>Apartamento:</strong>
    </div>
    <div class="col col-md-6">
      <%= @veiculo.apartamento.unidade %>
    </div>
  </div>
</div>
</div>
        </div>
        </div>
        </div>
        <%= link_to 'Editar', edit_veiculo_path(@veiculo), class: "btn btn-outline-primary", role:"button" %>
        <%= link_to 'Voltar', @veiculo.apartamento, class: "btn btn-outline-primary", role:"button" %>
      </div>
    </div>
  </div><!-- .animated -->
</div><!-- .content -->
