<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1> Morador</h1>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="page-header float-right">
      <div class="page-title">
        <ol class="breadcrumb text-right">
          <li><%= link_to 'Condomínio', current_condominio %></li>
          <li><%= link_to 'Apartamento: '+@morador.apartamento.unidade, @morador.apartamento %></li>
          <li>Morador: <%= @morador.nome %></li>
        </ol>
      </div>
    </div>
  </div>
</div>
  
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <strong>Morador: <%= @morador.nome %></strong>
          </div>
          <div class="card-body card-block">
            <% if notice %>            
            <p id="notice">
              <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
                <span class="badge badge-pill badge-success">Sucesso!</span>
                <%= notice %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </p>
            <% end %>
<div class="col col-md-6">
  <div class="form-group">
    <div class="col col-md-6">
      <strong>Nome:</strong>
    </div>
    <div class="col col-md-6">
      <%= @morador.nome %>
    </div>
  </div>
</div>

<div class="col col-md-6">
  <div class="form-group">
    <div class="col col-md-6">
      <strong>RG:</strong>
    </div>
    <div class="col col-md-6">
      <%= @morador.rg %>
    </div>
  </div>
</div>

<div class="col col-md-6">
  <div class="form-group">
    <div class="col col-md-6">
      <strong>CPF:</strong>
    </div>
    <div class="col col-md-6">
      <%= @morador.cpf %>
    </div>
  </div>
</div>

<div class="col col-md-6">
  <div class="form-group">
    <div class="col col-md-6">
      <strong>Tel Residencial:</strong>
    </div>
    <div class="col col-md-6">
      <%= @morador.tel_residencial %>
    </div>
  </div>
</div>

<div class="col col-md-6">
  <div class="form-group">
    <div class="col col-md-6">
      <strong>Tel Celular:</strong>
    </div>
    <div class="col col-md-6">
      <%= @morador.tel_celular %>
    </div>
  </div>
</div>

<div class="col col-md-6">
  <div class="form-group">
    <div class="col col-md-6">
      <strong>Tel Comercial:</strong>
    </div>
    <div class="col col-md-6">
      <%= @morador.tel_comercial %>
    </div>
  </div>
</div>

<div class="col col-md-6">
  <div class="form-group">
    <div class="col col-md-6">
      <strong>Ramal:</strong>
    </div>
    <div class="col col-md-6">
      <%= @morador.ramal %>
    </div>
  </div>
</div>

<div class="col col-md-6">
  <div class="form-group">
    <div class="col col-md-6">
      <strong>E-mail:</strong>
    </div>
    <div class="col col-md-6">
      <%= @morador.email %>
    </div>
  </div>
</div>

<div class="col col-md-6">
  <div class="form-group">
    <div class="col col-md-6">
      <strong>Parentesco:</strong>
    </div>
    <div class="col col-md-6">
      <%= @morador.parentesco %>
    </div>
  </div>
</div>

<div class="col col-md-6">
  <div class="form-group">
    <div class="col col-md-6">
      <strong>Tipo:</strong>
    </div>
    <div class="col col-md-6">
      <%= @morador.tipo %>
    </div>
  </div>
</div>

<div class="col col-md-6">
  <div class="form-group">
    <div class="col col-md-6">
      <strong>Ativo:</strong>
    </div>
    <div class="col col-md-6">
      <%= @morador.ativo %>
    </div>
  </div>
</div>
<!--
<p>
  <strong>Data inclusao:</strong>
  <%= @morador.data_inclusao.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Data alteracao:</strong>
  <%= @morador.data_alteracao ? @morador.data_alteracao.strftime("%d/%m/%Y") : '' %>
</p>
-->
<div class="col col-md-6">
  <div class="form-group">
    <div class="col col-md-6">
      <strong>Apartamento:</strong>
    </div>
    <div class="col col-md-6">
      <%= @morador.apartamento.unidade %>
    </div>
  </div>
</div>
        </div>
        </div>
        </div>
        </div>
        <%= link_to 'Editar', edit_morador_path(@morador), class: "btn btn-outline-primary", role:"button" %>
        <%= link_to 'Voltar', @morador.apartamento, class: "btn btn-outline-primary", role:"button" %>
      </div>
    </div>
  </div><!-- .animated -->
</div><!-- .content -->
