<table id="bootstrap-data-table-funcionario" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tel</th>
      <th>Dias autorizados</th>
      <th>Ativo</th>
      <th>Apartamento</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% funcionarios.each do |funcionario| %>
      <tr>
        <td><%= funcionario.nome %></td>
        <td><%= funcionario.tel %></td>
        <td><%= funcionario.dias_autorizados %></td>
        <td><%= funcionario.ativo ? 'Ativo' : 'Desativo' %></td>
        <td><%= funcionario.apartamento.unidade %></td>
        <td><%= link_to 'Exibir', funcionario, class: 'btn btn-sm btn-primary' %></td>
        <td><%= link_to 'Editar', edit_funcionario_path(funcionario), class: 'btn btn-sm btn-success' %></td>
        <td><%= link_to 'Excluir', funcionario, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
